<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description=" " ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpacingRules">
        <Rule Id="SA1027"  Action="None" /> <!-- Use tabs correctly -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">
        <Rule Id="SA1101"  Action="None" /> <!-- Prefix local calls with this -->
        <Rule Id="SX1101"  Action="Warning" /> <!-- Do not prefix local calls with 'this.' -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">
        <Rule Id="SA1309"  Action="None" /> <!-- Field names should not begin with underscore -->
        <Rule Id="SX1309"  Action="Warning" /> <!-- Field names should begin with underscore -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.DocumentationRules">
        <Rule Id="SA1600"  Action="None" /> <!-- Elements should be documented -->
        <Rule Id="SA1633"  Action="None" /> <!-- File should have header -->
    </Rules>
</RuleSet>
